<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<body bgcolor="pink";>
<h1><b>LOGIN PAGE</b></h1>
<form action="login" method="post">
    {% csrf_token %}
    <label>Enter Your Username</label><br>
   <input type="text" name="username" placeholder="Enter username"><br>
    <label>Enter Your Password</label><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="submit">
</form>
</body>
</html>

